<div class="container" ng-app="eca-app">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <div class="mt-5 form-group row">
      <label class="col-sm-2 col-form-label">Childs Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Enter Name" name="name" ngModel>
      </div>
    </div>
    <div class="row">
      <label class="col-sm-2 col-form-label">Class</label>
      <br class="col-sm-10">
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" name="class" value="1" ngModel="formData.class">
          1st
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" name="class" value="2" ngModel="formData.class">
          2nd
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" name="class" value="3" ngModel="formData.class">
          3rd
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" name="class" value="4" ngModel="formData.class">
          4th
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" name="class" value="5" ngModel="formData.class">
          5th
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" name="class" value="6" ngModel="formData.class">
          6th
        </label>
      </div>
    </div>
    <div class="mt-3 row">
      <label class="col-sm-2 col-form-label">Guardians Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" placeholder="Enter email address" name="email" ngModel>
      </div>
    </div>

    <div class="row">
      <div class="mt-3 col-sm-6">
        <h2>Monday</h2>
        <div class="form-group" ng-init="formData.monday=none">
          <div class="radio">
            <label>
              <input type="radio" name="monday" value="none" ngModel="formData.monday">
              None
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="monday" value="GAA" ngModel="formData.monday">
              GAA
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="monday" value="chess" ngModel="formData.monday">
              Chess
            </label>
          </div>
        </div>
      </div>
      <div class="mt-3 col-sm-6">
        <h2>Tuesday</h2>
        <div class="form-group">
          <div class="radio">
            <label>
              <input type="radio" name="tuesday" value="none" ngModel="formData.tuesday" checked>
              None
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="tuesday" value="GAA" ngModel="formData.tuesday">
              GAA
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="tuesday" value="chess" ngModel="formData.tuesday">
              Chess
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="mt-3 col-sm-6">
        <h2>Thursday</h2>
        <div class="form-group">
          <div class="radio">
            <label>
              <input type="radio" name="thurs" value="none" ngModel="formData.thurs" checked="checked">
              None
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="thurs" value="GAA" ngModel="formData.thurs">
              GAA
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="thurs" value="chess" ngModel="formData.thurs">
              Chess
            </label>
          </div>
        </div>
      </div>
      <div class="mt-3 col-sm-6">
        <h2>Friday</h2>
        <div class="form-group">
          <div class="radio">
            <label>
              <input type="radio" name="fri" value="none" ngModel="formData.fri" checked>
              None
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="fri" value="GAA" ngModel="formData.fri">
              GAA
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="fri" value="chess" ngModel="formData.fri">
              Chess
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-5 form-group row">
      <div class="col-sm-10">
        <button class="btn btn-primary btn-lg">Submit</button>
      </div>
    </div>
  </form>
</div>
